# Composer
/vendor/
composer.lock

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# PHPUnit
.phpunit.result.cache
/phpunit.xml

# Environment
.env
.env.*
!.env.example

# Coverage
/coverage/
*.cache

.php_cs.cache
.php_cs
.phpunit.cache
*.swp
*.swo 